{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Newsletter{% endblock %}

{% block body %}
{% block navbar %}{{ parent() }}{% endblock %}
<div class="w-full px-3 sm:w-1/2 mx-auto flex flex-col">
    <h1 class="text-4xl text-center my-2">Merci de vous être inscrit à notre newsletter</h1>
    <h2 class="text-3xl text-center">{{ email }}</h2>
    <a href="{{path('app_index')}}" class="rounded bg-gray-500 p-2 text-2xl my-2 text-white self-center hover:bg-gray-600">Revenir à l'acceuil</a>
</div>
{% endblock %}