{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
{% block navbar %}{{ parent() }}{% endblock %}
<div class="example-wrapper">
    <h1 class="text-4xl text-center my-2">Bienvenue sur MangaCollec</h1>
    <h2 class="text-3xl text-center">Votre site de collection de mangas qui vous dit si vous avez déja ce manga chez vous et si vous l'avez déja lu.</h2>
    <div class="flex justify-center my-10">
        <img src="{{ asset('imgs/MangaCollec.png') }}" alt="Logo MangaCollec">
    </div>
    <div class="flex flex-col items-center">
        <p class="text-2xl">N'hesitez pas à nous contacter pour ajouter de nouveau mangas</p>
        <a class="text-2xl text-blue-400 hover:underline" href="">Cliquez içi</a>
    </div>
</div>
{% endblock %}
