<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MangaCollec - {% endblock %}</title>
        <link rel="icon" href="{{asset('imgs/book.svg')}}">
        {% block stylesheets %}
        {% endblock %}

        {% block paginator %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="dark:bg-gray-800 dark:text-white h-screen {% block body_class %}{% endblock %}">
        {% block body %}
            {% block navbar %}
                {{include('navbar.html.twig')}}
            {% endblock %}
        {% endblock %}
    </body>
</html>
