{% block navbar %}
    <nav class="py-3 bg-green-500 text-white flex justify-between">
        <div class="text-2xl">
            <a class="mx-1 hover:text-slate-200" href="{{path('app_index')}}">Accueil</a>
            <a class="mx-1 hover:text-slate-200" href="{{path('manga_all')}}">Tout les mangas</a>
            <a class="mx-1 hover:text-slate-200" href="">Votre liste</a>
        </div>
        <div class="text-2xl me-1">
            <a class="bg-sky-600 p-1 mx-1 border-2 border-sky-700 rounded hover:bg-sky-700" href="">S'abonner au newsletter</a>
            <a class="bg-slate-400 mx-1 p-1 border-2 border-slate-500 rounded hover:bg-slate-500" href="">Se connecter</a>
        </div>
    </nav>
{% endblock %}